@tailwind base;
@tailwind components;
@tailwind utilities;

.project-card:hover .overlay {
	background-color: gray;
	opacity: 0.5;
	transition: background-color 0.3s ease-in-out;
}

.project-card:hover .search-icon {
	opacity: 1;
	top: 2.5rem;
	transition: all 0.3s ease-in-out;
}

.project-card:hover .project-name {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}
